@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
body::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #1F2332;
  border-radius: 100px;
}


.hero {
  height: auto;
  background-position: 50% 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  background-image: url('https://ik.imagekit.io/0s9lwb2yr/Digio/Digio_-_Hero_section__Mobile__VAQcy-ktb.png?ik-sdk-version=javascript-1.4.3&updatedAt=1678465604192');
}

.about {
  background-image: url('https://ik.imagekit.io/0s9lwb2yr/Digio/Digio_-_About_Section__Laptop__97aPY2v7n.png?updatedAt=1678559818489');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonials {
  overflow-x: hidden;
}

.mobile__nav__category ul {
  list-style-type: circle;
}

.process {
  background-image: url('https://ik.imagekit.io/0s9lwb2yr/Digio/Digio_-_Process__Laptop__9Ym4qO1g1.png?updatedAt=1679139268649');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.start-today {
  background-image: url('https://ik.imagekit.io/0s9lwb2yr/Digio/Digio_-_Continue_Journey_vwcOa8prZ.png?updatedAt=1679252044520');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* width */
.process__buttons::-webkit-scrollbar, .pricing__buttons::-webkit-scrollbar {
  width: 0px!important;
}

.pricing {
  background-image: url('https://ik.imagekit.io/0s9lwb2yr/Digio/Digio_-_Pricing_Z2fPd1hS3.png?updatedAt=1679249154046');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .hero {
    background-color: white;
  }
}

@media (min-width: 1024px) {
  .hero {
    height: calc(95vh - 75px);
    background-image: url('https://ik.imagekit.io/0s9lwb2yr/Digio/Digio_-_Hero_section__Laptop___W9G8hv4_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1678389154778');

  }
}